@media only screen and (max-width: 960px) {

    #header {
        padding: 30px 60px !important;

        .row {
            grid-template-columns: auto !important;

            .header-logo {
                text-align: center;
            }

            .header-menu {
                gap: 10px;
            }
        }

    }

    .header-section .title {
        line-height: 60px !important;
    }
    .container {
        padding: 0px !important;

        .section-one {
                display: grid;
                gap: 30px;
                padding: 0 60px;

            .text-content {
                margin: auto;
                position: static !important;
                width:initial    !important;
    
                h2 {
                    height: auto !important;
                    padding-right: 0px !important;
                }

            } 

            .image-section {
                margin: auto !important;
                margin-left: 0 !important;
                right: 0 !important;
                opacity: 0.3;
                z-index: -1;
            }
        }

        .service {

            .row {
                grid-template-columns: 352px !important;
                justify-content: center !important;
                gap: 30px;
            }
        }

        .testmonials {

            .row {
                grid-template-columns: auto !important;
            }
        }

        .section-video {
            padding: 0 60px;

            .img-video {
                width: 100%;
            }
        }

        .our-team {

            .row {
                grid-template-columns: 370px !important;
                justify-content: center !important;
                gap: 30px;
            }
        }

        .contact {
            padding: 0 60px;

            .row {
                justify-content: center !important;

                .img-contact {

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #footer {

        .footer-item {
            grid-template-columns: auto !important;
        }
    }
}

@media only screen and (max-width: 768px) {


    #header {
        padding: 30px 30px !important;

        .row {
            grid-template-columns: auto auto !important;
            justify-content: space-between;
            column-gap: 0 !important;

            .header-menu {
                .navbar {
                    display: none;
                }

                .auth {
                    display: none;
                }

                .bars-mobile {
                    display: block !important;
                }
            }
        }

        .over-play {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
    }

    .container {

        .section-one {
            padding: 0 14px !important;
            .text-content {
                height: fit-content !important;
            }
        }

        .section-video {
            flex-direction: column;

            .introduce {

                h5 {
                    margin-right: 0px !important;
                }

                button {
                    bottom: -70px !important;
                }
            }

            .video {
                height: 155px;
            }
        }

        .testmonials {

            .row {
                padding: 0 10px;

                .item-feedback {
                    flex-direction: column;
                    align-items: center !important;
                }
            }
        }

        .contact {

            .row {
                grid-template-columns: auto !important;

                .form-contact {

                    input {
                        padding: 24px !important;
                    }
                }
            }
        }
    }

    #footer {
        padding: 0 30px !important;

        .footer-item {

            .footer-left {
                flex-direction: column;
                gap: 30px !important;
            }

            .footer-right {

                ul {
                    gap: 10px;
                    justify-content: initial !important;
                }
            }
        }
    }
}