@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap');
@import "./responsive.scss";
@import "./variable.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Ageo;
}

#header {
    position: relative;
    padding: 48px 135px 36px 135px;
    max-width: 1440px;
    margin: auto;

    .row {
        display: grid;
        grid-template-columns: 240px auto;
        column-gap: 114px;

        .header-logo {
            height: 49px;
        }

        .header-menu {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;

            .navbar ul {
                display: flex;
                font-size: 18px;
                font-weight: 500;
                line-height: 28.5px;
                gap: 40px;
                list-style: none;
                text-transform: capitalize;
                align-items: center;
                justify-content: space-around;

                li a {
                    text-decoration: none;
                    color: $black;
                }

                li:hover {
                    font-weight: 700;
                }
            }

            .auth ul {
                display: flex;
                color: $black;
                font-size: 18px;
                font-weight: 500;
                line-height: 28.5px;
                list-style: none;
                gap: 22px;
                align-items: center;
                justify-content: center;

                button {
                    font-family: Ageo;
                    border-radius: 10px;
                    background: $orange;
                    padding: 10px 28px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28.5px;
                    border: none;
                }
            }
        
            .bars-mobile {
                width: 30px;
                display: none;
            }
        }
    }
}

.header-section {
    text-align: center;

    .name-item {
        font-size: 14px;
        font-weight: 700;
        color: #8a898e;
        line-height: 28.5px;
        letter-spacing: 6.3px;
        text-transform: uppercase;
    }

    .title {
        margin-top: 19px;
        color: $dark-blue;
        font-size: 52px;
        font-weight: 700;
        line-height: 28.5px;
        text-transform: capitalize;
    }
}

.container {
    padding: 0 135px;
    max-width: 1440px;
    margin: auto;

    .section-one {
        position: relative;

        .text-content {
            top: 60px;
            width: 653px;
            position: relative;

            h2 {
                margin-bottom: 16px;
                color: $dark-blue;
                font-size: 70px;
                font-weight: 850;
                line-height: 81px;
                height: 260px;
                padding-right: 120px;
            }

            p {
                color: $black;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 28.5px;
                padding-right: 87px;
            }

            .buttons {
                display: flex;
                align-items: center;
                margin-top: 61px;

                button {
                    font-family: Ageo;
                    border: none;
                    text-transform: capitalize;
                    line-height: 28.5px;
                    border-radius: 10px;
                    font-size: 18px;
                }

                button:nth-child(1) {
                    font-weight: 500;
                    color: #fff;
                    padding: 10px 34px;
                    background-color: $orange;
                    margin: 5px 28px 6px 0;
                }

                button:nth-child(2) {
                    background-color: inherit;
                    font-weight: 700;
                    color: $black;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 25px;
                    }
                }
            }

        }

        .image-section {
            position: absolute;
            top: -34px;
            right: -125px;

            img {
                width: 100%;
            }
        }
    }

    .service {
        position: relative;
        margin-top: 212.82px;

        .row {
            display: grid;
            grid-template-columns: 352px 352px 352px;
            margin-top: 108px;
            justify-content: space-between;

            .service-item {
                text-align: center;
                border-radius: 28px;
                background: #FFF;
                box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
                    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
                    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
                    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
                    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
                    0px 100px 80px 0px rgba(0, 0, 0, 0.07);

                img {
                    margin-top: 30px;
                    margin-bottom: 42px;
                }

                .item-video {
                    margin-top: 49px;
                }

                .name-service {
                    // margin-top: 42px;
                    color: $black;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 28.5px;
                    text-transform: capitalize;
                }

                .content-service {
                    padding: 32px 41px 45px 41px;

                    .desc-service {
                        color: $black;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28.5px;
                        margin-bottom: 18px;
                        height: 187px;
                    }

                    .btn-detail {
                        font-family: Ageo;
                        border: none;
                        background-color: $orange;
                        text-transform: capitalize;
                        color: #fff;
                        border-radius: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28.5px;
                        padding: 10px 36px;
                    }
                }
            }
        }
    }

    .section-video {
        display: flex;
        justify-content: space-between;
        margin-top: 181.01px;
        height: 385.98px;

        .introduce {
            font-family: DM Sans;
            width: 335px;
            margin-top: 17.13px;
            position: relative;

            h5 {
                color: $dark-blue-red;
                font-size: 22px;
                font-weight: 500;
                line-height: 32px;
                margin-bottom: 20.51px;
                margin-right: 46px;
            }

            p {
                color: $matte-blue;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                margin-right: 22px;
            }

            button {
                font-family: DM Sans;
                color: $dark-blue-red;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                padding: 13px 38px;
                border-radius: 100px;
                border: 2px solid $greyish;
                background-color: initial;
                position: absolute;
                bottom: 25.33px;
            }
        }

        .video {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-play {
                position: absolute;
            }
        }
    }

    .testmonials {
        margin-top: 146.01px;

        .row {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            gap: 30px;
            margin-top: 101px;

            .item-feedback {
                display: flex;
                gap: 30px;
                padding: 35px 28px 23px 35px;
                align-items: flex-start;

                img {
                    margin-top: 1px;
                }

                .info-client {
                    width: 307px;
                    height: 179px;
                    position: relative;

                    .feedback {
                        color: $dark-blue;
                        font-family: DM Sans;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                    }

                    .name-client {
                        margin-top: 13px;
                        color: $dark-blue;
                        font-family: DM Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        opacity: 0.3;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }

    }

    .our-team {
        margin-top: 142px;

        .row {
            display: grid;
            grid-template-columns: 370px 370px 370px;
            margin-top: 53px;
            justify-content: center;
            gap: 30px;

            .card {
                border-radius: 10px;
                border: 2px solid $greyish;
                text-align: center;

                .avatar-member {
                    padding: 50px 0 28.8px 0;
                }

                .info-member {
                    margin-bottom: 35px;

                    h5 {
                        text-transform: capitalize;
                        color: $dark-blue-red;
                        font-family: DM Sans;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 32px;
                        margin-bottom: 16.2px;
                    }

                    span {
                        color: $matte-blue;
                        font-family: DM Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                }

                .social {
                    border-top: 2px solid $greyish;

                    .icon {
                        float: left;
                        padding: 16.8px 50px 5.2px 50px;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 38px;
                    }

                    .icon:nth-child(2),
                    .icon:nth-child(3) {
                        border-left: solid 2px $greyish;
                    }
                }
            }
        }
    }

    .contact {
        margin-top: 110px;

        .row {
            margin-top: 101px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 49px;

            .form-contact {
                margin: 26px 0 63px 0;
                font-weight: 400;
                line-height: 28.5px;

                p {
                    color: $black;
                    font-family: 'Roboto';
                    font-size: 18px;
                    margin: 0 43px 45px 12px;
                }

                input {
                    width: 100%;
                    max-height: 77px;
                    border-radius: 49px;
                    border: 1px solid rgba(0, 0, 0, 0.18);
                    background: #FFF;
                    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
                        0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
                        0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
                        0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
                        0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
                        0px 100px 80px 0px rgba(0, 0, 0, 0.07);
                    color: $black;
                    font-family: 'Roboto';
                    font-size: 24px;
                    padding: 24px 67px 24px 67px;
                    font-weight: 400;
                }

                input::placeholder {
                    color: $black;
                }

                button {
                    margin-top: 51px;
                    width: 100%;
                    border: none;
                    border-radius: 10px;
                    background-color: $orange;
                    color: #fff;
                    padding: 10px 0;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28.5px;
                    text-transform: capitalize;
                    font-family: Ageo;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    padding: 0 135px;
    max-width: 1440px;
    margin: 166px auto 0 auto;

    .footer-item {
        display: grid;
        grid-template-columns: auto auto;
        font-family: DM Sans;

        .footer-left {
            display: flex;
            gap: 90px;
            margin-right: 141px;

            img {
                width: 111px;
                height: 23px;
            }

            p {
                width: 369px;
                color: $dark-blue-red;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
        }

        .footer-right {

            ul {
                display: flex;
                list-style: none;
                color: $dark-blue-red;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;

                li:nth-child(1),
                li:nth-child(2){
                    margin-right: 39px;
                }

                li:nth-child(3)
                {
                    margin-right: 42px;
                }

                li:nth-child(4)
                {
                    margin-right: 41px;
                }
            }
        }
    }

    hr {
        height: 2px;
        background-color: $greyish;
        opacity: 0.5;
        border: none;
        margin: 31px 0 40px 0;
    }

    p {
        color: rgba(21, 20, 57, 0.4);
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 41px;
    }
}